{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}
    <br>
    <div class="container-fluid px-5">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'images/home1.jpg' %}" class="d-block w-100 h-75" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/home2.png' %}" class="d-block w-100 h-75" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/home3.jpg' %}" class="d-block w-100 h-75" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <br><br><br>
                <div class="row">
                    <div class="col-md-3 mt-3">
                            <header class="section-heading">
                                <h3 class="section-title">Popular products<a href="{% url 'all-products' %}"
                                                                             class="btn btn-outline-secondary">See
                                    all</a></h3>
                            </header><!-- sect-heading -->
                    </div>
                </div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-md-3 mt-3">
                            <div class="card" style="width: 24rem;">
                                {% if product.image1 %}
                                    <a class="text-secondary" href="{{ product.get_url }}"><img
                                            src="{{ product.image1.url }}" class="card-img-top" alt="..."></a>

                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title"><a class="text-secondary"
                                                              href="{{ product.get_url }}">{{ product.product_name }}</a>
                                    </h5>
                                    <p class="card-text fw-bold">{{ product.price }}€</p>
                                    <div class="btn-card-product">
                                        <a href="#" class="btn btn-outline-dark"><img
                                                src="{% static "images/heart.svg" %}"
                                                alt="image"></a>
                                        <a href="#" class="btn btn-outline-dark"><img
                                                src="{% static "images/bag.svg" %}"
                                                alt="image"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
    <br><br><br>
    <footer class="section-footer border-top">
        <div class="container-fluid">
            <section class="footer-bottom border-top row">
                <div class="col-md-2">
                    <p class="text-muted"> &copy Jewel.ro 2023 </p>
                </div>
                <div class="col-md-8 text-md-center">
                    <span class="px-2">info@jewel.ro</span>
                    <span class="px-2">+40723455675</span>
                    <span class="px-2">Str. Iuliu Maniu, Nr. 204</span>
                </div>
                <div class="col-md-2 text-md-right text-muted">
                    <i class="fab fa-lg fa-cc-visa"></i>
                    <i class="fab fa-lg fa-cc-paypal"></i>
                    <i class="fab fa-lg fa-cc-mastercard"></i>
                </div>
            </section>
        </div>
    </footer>

{% endblock %}