
body {
    text-decoration: none;
    background-color: red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-decoration: none;
    color: gray;
}

a, p {
    text-decoration: none;
}

.card-body {
    text-decoration: none;
}

.text-secondary {
    text-decoration: none;
}

.card-title {
    text-decoration: none;
}

.section-title {
    padding-right: 100px;
}

.img-sm {
    height: 100px;
    width: 80px;
}

.bag-add-cart {
    color: white;
}

