{% extends 'base.html' %}
{% load static %}
{% block title %} All products {% endblock %}

{% block content %}
    <br><br>
    <section class="section-pagetop bg">
        <div class="container">
            <h2 class="title-page">All Products</h2>
        </div>
    </section>
    <br><br>

    <section class="section-content padding-y">
        <div class="container">
            <div class="row">
                <aside class="col-lg-3">
                    <div class="card">
                        <article class="filter-group">
                            <header class="card-header">
                                <a href="#" data-toggle="collapse" data-target="#collapse_1"
                                   aria-expanded="true"
                                   class="">
                                    <i class="icon-control fa fa-chevron-down"></i>
                                    <h6 class="title">Categories</h6>
                                </a>
                            </header>
                            <div class="filter-content collapse show" id="collapse_1" style="">
                                <div class="card-body">

                                    <ul class="list-menu">
                                        <li><a href="{% url 'all-products' %}">All products</a></li>
                                        {% for category in links %}
                                            <li><a href="{{ category.get_url }}">{{ category.category_name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </article>

                        <article class="filter-group">
                            <header class="card-header">
                                <a href="#" data-toggle="collapse" data-target="#collapse_3"
                                   aria-expanded="true"
                                   class="">
                                    <i class="icon-control fa fa-chevron-down"></i>
                                    <h6 class="title">Price range</h6>
                                </a>
                            </header>
                            <div class="filter-content collapse show" id="collapse_3" style="">
                                <div class="card-body">

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Min</label>
                                            <!-- <input class="form-control" placeholder="$0" type="number"> -->
                                            <select class="mr-2 form-control">
                                                <option value="0">$0</option>
                                                <option value="50">$50</option>
                                                <option value="100">$100</option>
                                                <option value="150">$150</option>
                                                <option value="200">$200</option>
                                                <option value="500">$500</option>
                                                <option value="1000">$1000</option>
                                            </select>
                                        </div>
                                        <div class="form-group text-right col-md-6">
                                            <label>Max</label>
                                            <select class="mr-2 form-control">
                                                <option value="50">$50</option>
                                                <option value="100">$100</option>
                                                <option value="150">$150</option>
                                                <option value="200">$200</option>
                                                <option value="500">$500</option>
                                                <option value="1000">$1000</option>
                                                <option value="2000">$2000+</option>
                                            </select>
                                        </div>
                                    </div>
                                    <button class="btn btn-block btn-primary">Apply</button>
                                </div>
                            </div>
                        </article>
                    </div>

                </aside>
                <main class="col-md-9">

                    <header class="border-bottom mb-4 pb-3">
                        <div class="form-inline">
                            <span class="mr-md-auto"><b>{{ count }}</b> items found</span>

                        </div>
                    </header>
                    <div class="container px-10">
                        <div class="row">
                            {% for product in all_products %}
                                <div class="col-lg-4">
                                    <div class="card" style="width: 20rem;">
                                        {% if product.image1 %}
                                            <a class="text-secondary" href="{{ product.get_url }}"><img
                                                    src="{{ product.image1.url }}" class="card-img-top"
                                                    alt="..."></a>
                                        {% endif %}
                                        <div class="card-body">
                                            <h5 class="card-title"><a class="text-secondary"
                                                                      href="{{ product.get_url }}">{{ product.product_name }}</a>
                                            </h5>
                                            <p class="card-text fw-bold">{{ product.price }}€</p>
                                            <div class="btn-card-product">
                                                <a href="#" class="btn btn-outline-dark"><img
                                                        src="{% static "images/heart.svg" %}"
                                                        alt="image"></a>
                                                <a href="#" class="btn btn-outline-dark"><img
                                                        src="{% static "images/bag.svg" %}"
                                                        alt="image"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </section>

{% endblock %}