{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% if categories %}
        Jewellery | {{ categories }}
    {% else %}
        Jewellery | All products
    {% endif %}
{% endblock %}


{% block content %}
    <br><br>
    <section class="section-pagetop bg">
        <div class="container-fluid ">
            {% if 'search' in request.path %}
                <h2 class="title-page">Search Result</h2>
            {% else %}
                {% if categories %}
                    <h2 class="title-page">{{ categories }}</h2>
                {% else %}
                    <h2 class="title-page">All products</h2>
                {% endif %}
            {% endif %}
        </div>
    </section>
    <br><br>
    <section class="section-content padding-y">
        <div class="container-fluid">
            <div class="row">
                <aside class="col-lg-2">
                    <div class="card">
                        <article class="filter-group">
                            <header class="card-header">
                                <h6 class="title title-filter">Categories</h6>
                            </header>
                            <div class="filter-content collapse show" id="collapse_1" style="">
                                <div class="card-body">
                                    <ul class="list-menu">
                                        <li><a class="category-filter" href="{% url 'all-products' %}">All products</a>
                                        </li>
                                        {% for category in links %}
                                            <li><a class="category-filter"
                                                   href="{{ category.get_url }}">{{ category.category_name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </article>

                        <article class="filter-group">
                            <header class="card-header border-top">
                                <h6 class="title title-filter">Price range</h6>
                            </header>
                            <div class="filter-content collapse show" id="collapse_3" style="">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Min</label>
                                            <select class="mr-2 form-control">
                                                <option value="0">$0</option>
                                                <option value="50">$50</option>
                                                <option value="100">$100</option>
                                                <option value="150">$150</option>
                                                <option value="200">$200</option>
                                                <option value="500">$500</option>
                                                <option value="1000">$1000</option>
                                            </select>
                                        </div>
                                        <div class="form-group text-right col-md-6">
                                            <label>Max</label>
                                            <select class="mr-2 form-control">
                                                <option value="50">$50</option>
                                                <option value="100">$100</option>
                                                <option value="150">$150</option>
                                                <option value="200">$200</option>
                                                <option value="500">$500</option>
                                                <option value="1000">$1000</option>
                                                <option value="2000">$2000+</option>
                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                    <button class="btn btn-block btn-dark w-100">Apply</button>
                                </div>
                            </div>
                        </article>
                    </div>

                </aside>
                <main class="col-md-10">
                    <header class="border-bottom mb-4 pb-3">
                        <div class="product-found form-inline">
                            <span class="mr-md-auto"><b>{{ product_count }}</b> items found </span>
                        </div>
                    </header>
                    <div class="container-fluid">
                        <div class="row">
                            {% if products %}
                                {% for product in products %}
                                    <div class="col-lg-3 mb-2">
                                        <div class="card card-category" style="width: 25rem;">
                                            {% if product.image1 %}
                                                <a class="text-secondary" href="{{ product.get_url }}"><img
                                                        src="{{ product.image1.url }}" class="category-img card-img-top"
                                                        alt="..."></a>
                                            {% endif %}
                                            <div class="card-body">
                                                <h5 class="card-title"><a class="text-secondary"
                                                                          href="{{ product.get_url }}">{{ product.product_name }}</a>
                                                </h5>
                                                <p class="card-text fw-bold">{{ product.price }} €</p>
                                                <div class="btn-card-product text-center">
                                                    <a href="{{ product.get_url }}"
                                                       class="btn btn-dark w-100">View Details</a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div>
                                    <h2 class="text-center"> No result found. Please try again.</h2>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <nav class="mt-4" aria-label="Page navigation sample">
                        {% if products.has_other_pages %}
                            <ul class="pagination">
                                {% if products.has_previous %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ products.previous_page_number }}">Previous</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled"><a class="page-link"
                                                                      href="#">Previous</a>
                                {% endif %}
                                {% for i in products.paginator.page_range %}
                                    {% if products.number == i %}
                                        <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if products.has_next %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ products.next_page_number }}">Next</a></li>
                                {% else %}
                                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </nav>
                </main>
            </div>
        </div>
    </section>

{% endblock %}