{% load static %}

<nav class="navbar navbar-expand-lg border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand fst-italic" href="{% url 'homepage' %}">Jewel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Jewellery
                    </a>
                    <ul class="dropdown-menu">

                        <li><a class="dropdown-item" href="{% url 'all-products' %}">All products</a></li>
                        {% for category in links %}
                        <li><a class="dropdown-item" href="{{ category.get_url }}">{{ category.category_name }}</a></li>
                        {% endfor %}

                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Contact</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </form>
        </div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#"><img class="btn-nav-image-person"
                                                                      src="{% static "images/person.svg" %}" alt="..."></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#"><img class="btn-nav-image"
                                                                      src="{% static "images/heart.svg" %}" alt="...">0</a>

            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'cart' %}"><img class="btn-nav-image"
                                                                      src="{% static "images/bag.svg" %}"
                                                                      alt="...">{{ cart_count }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Sign up</a>
            </li>
        </ul>

    </div>
</nav>